body{
  margin: 0;
}

#header-container{
  text-align: center;
}

#header{
  margin: 0;
  height: 75px;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
}

/*=== PAGE CONTAINER ===*/
#page-container{
  width: 450px;
  margin: auto;
  background-color: #f2f2f2;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/*=== FORM CONTAINER ===*/

#form-container{
  margin: 20px;
  text-align: center;
}

.form-input{
  box-sizing: border-box;
  padding: 0 5px;
  height: 40px;
  width: 160px;
  /*border: 1px solid #cccccc;*/
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 0;
}

#submit-button, #logout-button{
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  /*margin: 0;*/
  height: 40px;
  width: 120px;
  /*border: 1px solid #cccccc;*/
  border: 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  color: white;
}

#submit-button{
  background-color: #3333ff;
}

#submit-button:hover{
  background-color: #6666ff;
}

#submit-button:active{
  background-color: #0000ff;
}

#logout-button{
  background-color: #008000;
}

#logout-button:hover{
  background-color: #00b300;
}

#logout-button:active{
  background-color: #004d00;
}


#submit-button:active, #logout-button:active, .addBtn:active{
  color: white;
   background-color: #666666;
}

/*=== NAME DISPLAY ===*/

#name-container{
   margin: 20px;
   text-align: center;
}

#name-display{
  margin: 0;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

/*=== PRODUCT AREA ===*/
#product-container{
 margin: 20px;
 padding: 0 60px;

}

.product-row{
  position: relative;
  margin: 0 0 10px 0;
}

#product-header-container{
  margin: 0 0 0 100px;
}

.header-item{
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
}


.product-name{
  height: 25px;
  width: 100px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.adder{
  /*position: absolute;*/
  margin: 0;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border: 1px solid #cccccc;
  text-align: center;
  border-radius: 2px;
}

.addBtn{
  padding: 0;
  /*margin: 0;*/
  height: 40px;
  width: 200px;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  background-color: #ff0000;
  color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.addBtn:hover{
  background-color: #ff3333;
}

.addBtn:active{
  background-color: #cc0000;
}


.total-label{
  margin: 0 0 0 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #4d4d4d;
}

.total{
  /*position: absolute;*/
  margin: 0;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border: 1px solid #cccccc;
  text-align: center;
  border-radius: 2px;
}

.product-name, .adder, .total-label, .total, .addBtn{
  display: inline-block;
}

/*=== ADD CONTAINER ===*/
#add-container{
  margin: 20px;
  text-align: center;
}
